In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import datetime
import math, time
import itertools
from sklearn import preprocessing
import datetime
from operator import itemgetter
from sklearn.metrics import mean_squared_error
from math import sqrt
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.layers.recurrent import LSTM

Using TensorFlow backend.

In [4]:

def get_stock_data(stock_name, normalized=0):
#     url="http://www.google.com/finance/historical?q="+stock_name+"&startdate=Jul+12%2C+2013&enddate=Jul+11%2C+2017&num=30&ei=rCtlWZGSFN3KsQHwrqWQCw&output=csv"
#     url="http://www.google.com/finance/historical?q=%s&ei=u-lHWfGPNNWIsgHHqIqICw&output=csv" % stock_name 

    url = 'dataset/googl.csv'
    col_names = ['Date','Open','High','Low','Close','Volume']
    stocks = pd.read_csv(url, header=0, names=col_names) 
    df = pd.DataFrame(stocks)
    df.drop(df.columns[[0,3,5]], axis=1, inplace=True) 
    return df

In [5]:

stock_name = 'GOOGL'
df = get_stock_data(stock_name,0)
df.tail()

        Open    High   Close
1002  459.95  460.46  455.80
1003  460.96  463.89  459.73
1004  464.03  464.45  460.26
1005  462.61  464.46  462.81
1006  460.46  461.96  461.96

In [6]:
today = datetime.date.today()
file_name = stock_name+'_stock_%s.csv' % today
df.to_csv('dataset/'+file_name)

In [7]:

df['High'] = df['High'] / 1000
df['Open'] = df['Open'] / 1000
df['Close'] = df['Close'] / 1000
df.head(5)

      Open     High    Close
0  0.95052  0.95489  0.95353
1  0.94195  0.95313  0.95100
2  0.93098  0.94466  0.94081
3  0.92500  0.93614  0.92769
4  0.92420  0.93629  0.93226